config/configstore
config/fish/completions
config/fish/fish_history
config/fish/fish_variables
config/fish/fishd*
config/nvim/plugged
config/nvim/autoload
config/github-copilot
config/yarn
config/zed
